
// =========================================
// VARIABLES
//==========================================

/* COLORS */

$primary-color: #22553F;
$primary-color-dark: darken($primary-color, 50%);
$primary-color-light: lighten($primary-color, 50%);

$secondary-color: #ffe36a;

$white: #F1F7ED;

/* FONTS */

$heading-font: 'Rubik', sans-serif;
$body-font: 'Spectral', serif;

// =========================================
// MIXINS
//==========================================

@mixin center {
  width: 90%;
  margin:0 auto;
}


/* =========================================
BASE styles
========================================== */

* {
  box-sizing:border-box;
}

body {
  background-color: $secondary-color;
  margin-top:0;
}

h1,
h2,
h3 {
  font-family: $heading-font;
}

h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.8em;
}

p {
  font-family: $body-font;
}

a {
  text-decoration: none;
  margin-top:0;
  &:link,
  &:visited {
    color: $white;
  }
}

nav {
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left:0;
    font-family: $heading-font;
    text-transform: uppercase;
    li {
      text-align: center;
      a {
        padding-top:10px;
        padding-bottom:10px;
        display: block;
        letter-spacing: .22rem;
        font-size: 1.3rem;
        &:hover {
          background-color: $white;
          color: $primary-color;
          &:active {
            background-color: $secondary-color;
            color: $white;
          }
        }
      }
    }
  }
}

header {
  background-color: $primary-color;
  margin-top:0;
}

footer {
  background-color: $primary-color;
  color: #F1F7ED;
  padding-top:25px;
  padding-bottom:25px;
  margin:0;
  text-align: center;
}

/* =========================================
CLASS styles
========================================== */

.nav-heading {
  // margin-top:0;
  display:none;
  padding-left:30px;
}

.banner-heading {
  background-color: #ffe36a;
  color: $primary-color;
  padding: 50px 0;
  margin:0 auto;
  text-align: center;
}

.banner-title {
  text-transform: uppercase;
  letter-spacing: .12em;
  font-size: 4em;
  @include center;
}

.banner-subtitle {
  font-weight: 300;
  letter-spacing: .12em;
  font-size:1.515em;
  @include center;
}

.wrapper {
  min-height: calc(100vh - 18px);
  // background-color: $secondary-color;
}

.dice-container {
  background: $primary-color;
  padding-top: 25px;
  padding-bottom: 25px;
  .dice-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    max-width: 950px;
    min-width:320px;
    .die {
      flex-grow: 1;
      flex-basis: 0px;
      max-width: 100px;
      width:50px;
      padding:5px 15px;
    }
  }
}

.d-spin {
  transition: transform 1s ease-in-out;
  transform: rotate(0turn);
}

.d-spin:hover {
  transform: rotate(1turn);
}



.intro {
  width: 90%;
  max-width: 685px;
  text-align: left;
  margin:0 auto;
  color: $primary-color;
  font-size: 1.2em;
  line-height: 1.2;
  p::first-letter {
    float:left;
    font-size: 80px;
    color: $secondary-color;
    padding: 5px 10px;
    background: $primary-color;
    margin: 10px 10px 0 0;
    border-radius: 5px;
    line-height: 1;
  }
}

.service-container {
  background-color: $primary-color;
  color: $secondary-color;
  padding-top: 50px;
  padding-bottom: 50px;
}

.service-flex-contain {
  width: 90%;
  text-align: center;
  margin:0 auto;
  max-width: 735px;
}

.in-person {
  display:flex;
  align-items: center;
  padding:0px 0 28px;
  img {
    width: 40%;
    padding-right: 15px;
  }
  p {
    font-size: 1em;
    text-align: center;
    width: 60%;
  }
}

.online {
  display:flex;
  align-items: center;
  padding:0px 0 28px;
  img {
    width: 40%;
    padding-left: 15px;
    order: 2;
  }
  p {
    font-size: 1em;
    text-align: center;
    width: 60%;
    order: -1;
  }
}

.any-xp-lvl {
  display:flex;
  align-items: center;
  padding:0px 0 28px;
  img {
    width: 40%;
    padding-right: 15px;
  }
  p {
    font-size: 1em;
    text-align: center;
    width: 60%;
  }
}

.heading-in-person-lrg,
.heading-online-lrg,
.heading-xp-lvl-lrg {
  display: inline;
}

.top-link {
  text-align:center;
  margin:0 auto;
  font-size: .95em;
  a {
    color: $primary-color;
    display:block;
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover {
      background-color: $white;
    }
    &:active {
      background-color: $secondary-color;
      color:$white;
    }
  }
}


.border-line {
  border-bottom: 1px solid $secondary-color;
}
/* Pseudo-Classes */

/* MEDIA QUERIES */

@media (min-width:769px) {

  nav {
    position: fixed;
    width:100%;
    background-color: $primary-color;
    border-bottom: 10px solid rgba(255, 255, 255, .3);
    z-index: 100;
  }

  .banner-heading {
    padding-top: 165px;
  }

  ul {
    float:right;
    vertical-align: middle;
    padding-right: 15px;
  }

  nav ul li {
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
  }

  nav ul li a {
    padding-left:10px;
    padding-right:10px;
    font-size: 1.2em;
    &:hover {
      background-color: transparent;
      color:$secondary-color
    }
  }

  .nav-heading {
    display:inline-block;
    float: left;
    vertical-align: middle;
    font-size: 3em;
    font-weight: 500;
    margin-top:8px;
    margin-bottom:0px;
  }

  .intro {
    font-size: 1.5em;
  }

  .service-flex-contain {
    display:flex;
    flex-direction: column;
    max-width: 1000px;
    position: relative;
  }

  .in-person,
  .online,
  .any-xp-lvl {
    flex-direction:column;
    p {
      order:2;
      font-size:1.3em;
      margin-top:0;
    }
    img {
      order: -1;
      max-width: 300px;
      max-height: 300px;
    }
  }

  .in-person img {
    margin-top:25px;
    margin-bottom: 45px;
  }


  /* CLEARFIX */

  .clearfix::after {
    content:"";   /* creates blank pseudo-element at the bottom of the parent container */
    display: table;   /* display blank element ^^^ as a block level table */
    clear: both; /* clear property is directly related to floats. This clears any collapsed space caused by floats on 'both' sides of the container. */
}
}

@media (min-width:1024px) {

  .service-flex-contain {
    flex-direction:row;
    padding-top: 50px;
  }

  // .heading-in-person {
  //   position: absolute;
  //   top: -30px;
  //   left: 40px;
  // }
  //
  // .heading-online {
  //   position:absolute;
  //   top:-30px;
  //   left: 455px;
  // }
  //
  // .heading-xp-lvl {
  //   position:absolute;
  //   top: -30px;
  //   right: 40px;
  // }

  .heading-in-person,
  .heading-online,
  .heading-xp-lvl {
    display: none;
  }

  .heading-in-person-lrg,
  .heading-online-lrg,
  .heading-xp-lvl-lrg {
    display: inline;
    order: -2;
  }




  .in-person,
  .online,
  .any-xp-lvl {
    flex: 1 33.33%;
    p {
      width: 90%;
    }
  }

  .in-person img {
    margin-top:0;
    margin-bottom: 0;
  }

}
